### Python

.DS_Store
.ropeproject

*.pyc
__pycache__


### Data
*.scel
data/
data_raw/
data/dict/
data/*.dict
data/*.pkl
data/*.txt
data/*.dist
data/*.bin

### embedding
embedding/word2vec/bin/*.bin
embedding/word2vec/data/*.bin
embedding/*.bin

### image/png
visualization/*.html
visualization/*.png
visualization/self_attention/*.png
visualization/self_attention/*.html
visualization/transformer/*.png
visualization/transformer/*.html

# data/*.dist

### log
log/

### models
models/
*.pth


