### Python

.DS_Store
.ropeproject

*.pyc
__pycache__


### Data
*.scel
data/
data_raw/
data/dict/
data/*.dict
data/*.pkl
data/*.txt
data/*.dist
data/*.bin

# data/*.dist

### log
log/

### models
models/
*.pth


